*{
    margin: 0;
}
.box1 {
    
    width: 200px;
    height: 200px;
    background-color: rgb(255, 119, 119);
    position: absolute;
    top: 10px;
    left: 10px;
}
.box2 {
    
    width: 200px;
    height: 200px;
    background-color: rgb(78, 208, 255);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
}
.box3 {
    
    width: 200px;
    height: 200px;
    background-color:  rgb(126, 255, 165);
    position: absolute;
    top: 30px;
    left: 30px;
}


