* {
    margin: 0px;
}

p {
    margin: 15px 10px;
}

div {
    margin: 1px 2.5px;
    height: 80px;
    width: 100px;
    border-radius: 13px;
    border: 1px solid blue;
    
}
/*
padding: 40px 0px 20px 5px;
margin: 5px 2.5px 5px 2.5px; 


*/

